@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

html{
    font-family: 'Varela Round', sans-serif;
}

:root{
    --iconSize: 18vh;
}

body{
    margin: 0;
    margin-bottom: 500px;
    background-image: url(../images/backgrounds/mainbgd4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
}

/* .bgdImg{
    background-image: url('../images/mainbgd4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: 10;
} */

/* --------------------------------------------------- Modal ------------------------------------------------------- */

.modalOverlay{
    position: fixed;
    /* display: none; */
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    transition: 0.3s ease-in-out;
}

.dark{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.blured{
    filter: blur(3px);
    opacity: 1;
}

.modal{
    /* background-color: white; */
    width: 500px;
    max-width: 60%;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    transition: 0.2s ease-in-out;

    overflow: hidden;

    /* display: none; */
    opacity: 0;

    border: 2px solid white;
    border-radius: 10px;
    z-index: 10;
}

.modal.active{
    /* display: block; */
    opacity: 1;

    box-shadow: 0px 0px 50px 3px black;
    box-shadow: 0px 0px 30px 1px white;
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;

    background-color: rgba(0, 0, 0, 0.9);

    border-bottom: 2px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.modal-header .title {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.modal-header .close-btn{
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 3px;
    padding: 0px 10px;

    transition: all 0.6s;
}

.modal-header .close-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 1px white;
}

.modal-form{
    padding: 25px 15px;
    background-color: rgba(92, 92, 92, 0.8);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/* --------------------------------------------------- Modal ------------------------------------------------------- */

.nav{
    position: sticky;
    top: 0;

    background-color: rgb(27, 27, 27);
    padding: 40px 40px;

    transition: padding 0.3s;
    
    font-size: 1.2em;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 30px 1px white;
    z-index: 10;
}

.scrolled{
    transition: padding 0.3s;
    position: fixed;
    width: calc(100% - 40px);
}

.menu{
    /* background-image: url(../images/icons/bars-solid.svg); */
    width: 30px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: none;
}

.nav_btn{
    padding: 10px;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    transition: background 0.3s;
}

.hidden{
    color: white;
    display: none;
    margin: 0;
    margin-left: 15px;
}

.selected{
    border-bottom: 2px solid white;    
}

.nav_btn:hover{
    cursor: pointer;
    background-color: rgba(100, 100, 100, 0.4);
}

.content{

    /* background-color: grey; */
    /* width: 100%; */
    height: 100%;
    /* margin: 20%; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info-container{
    /* background-color: rgba(146, 146, 146, 0.6); */
    width: fit-content;
    /* height: 400px; */
    padding: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    align-items: center;
}

.userPic{
    background-color: grey;
    padding: 5px;
    box-shadow: 0px 0px 15px 8px rgb(255, 255, 255);
    width: var(--iconSize);
    height: var(--iconSize);
    border-radius: var(--iconSize);

    /* background-image: url(../images/user-icon-solid.svg);
    background-size: cover; */
}

.profile-text{
    padding: 20px;
    margin-top: 20px;
    font-size: 2.4em;
    color: white;
}

.project-container{
    background-color: rgba(187, 187, 187, 0.9);
    border-radius: 10px;
    width: 70%;
    /* box-shadow: 0px 0px 10px 5px rgb(255, 255, 255); */


    margin-top: 20px;

    padding: 30px;

    display: grid;
    grid-gap: 20px;
    grid-auto-rows: 100px;
    grid-auto-columns: 150px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.project-item{
    height: 250px;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.4s;
    overflow: hidden;
}

.project-item:hover{
    /* filter: blur(3px); */
    transform: scale(1.05);
    cursor: pointer;
}

.project-img{
    width: 100%;
    height: 250px;
    transition: all 0.4s;
    /* height: 100%; */
    background-image: url(../images/project_images/modern_fashsion_img.png);
    background-size: cover;
    background-position: center;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .project-img:hover{
    filter: blur(3px);
    transform: scale(1.1);
} */

.project-text{
    /* width: 100%;
    height: 100%; */
    /* margin-top: -40px; */
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    transition: margin 0.2s;
    z-index: 20;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(196, 196, 196);
}

footer{
    background-color: rgb(138, 138, 138);
    position: fixed;
    width: 100%;
    bottom: 0;

    padding: 20px;

    height: 20px;
    transition: height 0.4s;
}

footer:hover{
    height: 70px;
}

@media(max-width: 1500px){
    .project-text{
        font-size: 2.3em;
    }   
}

@media(max-width: 1445px){
    .project-container{
        grid-template-rows: repeat(3, 1fr);
    }
}

@media(max-width: 1230px){
    /* .project-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    } */
    .project-text{
        font-size: 2.3em;
    }
}

@media(max-width: 960px){
    .project-container{
        grid-template-rows: repeat(5, 1fr);
    }
}

@media(max-width: 620px){
    #overview{
        display: none;
    }

    .menu{
        display: block;
    }
}

@media(max-width: 530px){
    #about{
        display: none;
    }
    .project-container{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 410px){
    #projects, #contact{
        display: none;
    }
    .hidden{
        display: block;
    }
}